<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Todos</h1>
        <ul>
            <!-- iterate through each todos document in the test collection (see MongoDB) and creates a list of 4 items (because there are 4 todos documents) -->
            <% todos.forEach( el=> { %>
                <!-- adds a class of todoItem to each element of the list  and adds the _id to each todo (el), which comes from each document in the collection (see MongoDB) -->
                <li class='todoItem' data-id='<%=el._id%>'>
                    <!-- adds a class of 'completed' if el.completed is true and a class of 'not' if el.completed is false -->
                    <span class='<%= el.completed === true ? ' completed' : 'not' %>'>
                        <!-- render the individual todo as a span-->
                        <%= el.todo %>
                    </span> -->
                    <span class='del'> Delete </span>
                </li>
                <% }) %>
        </ul>
        <!-- renders the number of items left on the todo list where completed === false -->
        <h2>Things left to do: <%= left %>
        </h2>

        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>

        <script src="js/main.js"></script>
    </body>

</html>